@media screen {
  /* --- Reset Styles --- */
  * {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  html, body {
    height: 100%;
    width: 100%;
    background-color: #ffc7c7 !important;
  }

  /* --- Welcome Page Styles --- */
  body {
    background-color: #ffc7c7;
    color: #ffc7c7;
    font-family: Sans-Serif;
    line-height: 18px;
  }

  .wrapper {
    background: #fff;
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    margin: 16px auto;
    max-width: 960px;
    padding: 2.25%; /* 18px / 800px */
    width: 85%;
  }

  h1 {
    font-size: 36px;
    line-height: 54px;
  }

  h2 {
    border-bottom: 2px solid #ccc;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 16px;
  }

  h3 {
    font-size: 18px;
    line-height: 36px;
  }

  p {
    margin-bottom: 18px;
    line-height: 50px;
  }

  .main {
    overflow: hidden;
  }

  .content {
    float: left;
    width: 60%; /* 480px / 800px */
  }



  .branding {
    clear: both;
  }

  footer.branding {
    border-top: 2px solid #ccc;
    margin-top: 20px;
    padding-top: 20px;
  }
}

@media screen and (max-width: 600px) {
  .wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: auto;
  }


  h1 {
    font-size: 24px;
    line-height: 36px;
  }

  h2 {
    font-size: 18px;
    line-height: 24px;
  }
}

/* Layout & Login page */

.title{
  text-align: center;
  color: #ffc7c7;
  font-size: 4rem;
  line-height: 1.6;
  
}

.container-fluid{
padding-left: 500px;
}

.main-content{
	width: 100%;
	border-radius: 20px;
	box-shadow: 0 5px 5px rgba(0,0,0,.4);
	margin: 5em auto;
  display: flex;
}
.company__info{
	background-color: #ffc7c7;
	border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  line-height: 2;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #fff;
}

@media screen and (max-width: 640px) {
  .main-content{
    width: 100%;
    margin: auto;
  }
	.company__info{
		display: none;
	}
	.login_form{
		border-top-left-radius:10px;
    border-bottom-left-radius:10px;
    
	}
}
@media screen and (min-width: 642px) and (max-width:800px){
	.main-content{width: 70%;}
}
.row > h2{
	color:#ffc7c7;
}
.login_form{
	background-color: #fff;
	border-top-right-radius:20px;
	border-bottom-right-radius:20px;
	border-top:1px solid #ccc;
	border-right:1px solid #ccc;
}

.form__input{
	width: 100%;
	border:0px solid transparent;
	border-radius: 50;
	border-bottom: 1px solid #aaa;
	padding: 1em .5em .5em;
	padding-left: 1em;
	outline:none;
	margin:1.5em auto;
	transition: all .5s ease;
}
.form__input:focus{
	border-bottom-color: #ffc7c7;
	box-shadow: 0 0 5px rgba(0,80,80,.4); 
	border-radius: 4px;
}
.btn{
  transition: all .5s ease;
	width: 70%;
	border-radius: 30px;
	color:#ffc7c7;
	font-weight: 600;
	background-color: #fff;
	border: 1px solid #ec61b7;
	margin-top: 1.5em;
	margin-bottom: 1em;
}
.btn:hover, .btn:focus{
	background-color: #ffc7c7;
	color:rgb(248, 210, 226);
}

/* To do list */
.login-user {
  color: hsl(0, 2%, 35%);
}
.my-to-do{
  color: hsl(0, 2%, 35%);
}

.create-todo{
  text-align: center;
}

.my-list{
  text-align: center;
}

.button{
  display: inline-block;
  align-items: center;
  width: 200px;
  height: 50px;
}

.loggin{
  text-align: left;
}

.signup{
  line-height: 50px;
  text-align: center;
}

.btn-del{
  background-color: #ffc7c7;
  border-radius: 12px;
  width: 100px;
  text: bold;
  color: #faf6f8;
  border: #fa99ce ;
}

.btn-edt{
  background-color: #ffc7c7;
  border-radius: 12px;
  width: 200px;
  padding: 5px 10px 5px 10px;
  text: bold;
  color: #faf6f8;
  border: #fa99ce ;
  
}

.line{
  line-height: 5;
}

.line2{
  line-height: 3;
}