<h3 class="my-to-do signup">Let's get started! </h3>
<form method="post" action="/signup">
    Email: <input name="email" type="email"><br><br>
    Password: <input name="password" type="password"><br><br>
    <input type="submit" value="Signup" class="btn-edt">
</form>