<h2 class="my-to-do create-todo">Create a to do list!</h2>
<form method="POST" action="/todolists">
    
    To do: <input type="text" name="todo" >
    Date : <input type="date" name="date">
    
    <input type="submit" value="Create a list" class="btn-edt">
</form>
