<h2 class="my-to-do create-todo">Create a to do list</h2>

<% if @error%>
<%= @error %>
<%end%>

<form method="POST" action="/todolists"> 

    To do: <input type="text" name="todo" >
    Date : <input type="date" name="date">
    Time : <input type="time" name="time">
    Description : <input type="description" name="description" class="desc">
   
    <input type="submit" value="Create a list!" class="btn-edt">
</form>


